@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<p>My name is Gerallt Hayes</p>
<p>You can find more about me on <a href="https://www.linkedin.com/in/gerallthayes/">LinkedIn</a> and more of my work on <a href="https://github.com/GeralltH">GitHub</a>.</p>