@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h2 class="text-danger">Please make sure to enter a valid registration.</h2><br /><br />
    <a asp-action="Index">Try Again</a>
</div>